* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: url("../img/Frame 54.png") var(--background) fixed;
  background-size: 100px 100px;
  /* background: linear-gradient(to top, var(--white), var(--background)); */
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
.header {
  font-size: 3rem;
  letter-spacing: -0.15rem;
  text-align: left;
  color: var(--primary);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.navigation{
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
  margin-bottom: 1rem;
}
.navigation svg{
  fill: var(--primary);
}
.post-container {
  background-color: var(--white);
  position: relative;
  width: 60vw;
  min-width: 40vw;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--black);
}
.post-container img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.post-container h1{
  font-size: 1.5rem;
  line-height: 1.55rem;
}
.post-container p{
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text);
}
.post-container .date{
  font-size: 0.5rem;
  line-height: 0.55rem;
}
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.post-header p {
  color: var(--primary);
  font-size: 0.75rem;
}
.post-header svg{
  fill: var(--black);
}
.post-container .deskripsi{
  font-size: 1rem;
  line-height: 1.75rem;
}
.header-profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  img {
    border-radius: 5rem;
    width: 35px;
    height: 35px;
  }
  .username {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 600;
  }
}
.rate {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.rate svg {
  fill: var(--black);
}
form{
  width: 100%;
  display: flex;
  justify-content: center;
}
.comment-input {
  background-color: var(--white);
  position: relative;
  width: 60vw;
  min-width: 40vw;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  color: var(--black);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  background-color: var(--onpress);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--primary);
}
input[type="text"]:focus {
  background-color: var(--white);
  border: 1px solid var(--primary);
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--black);
}
input[type="text"]::placeholder {
  color: var(--primary);
}
button {
  background: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
button svg {
  fill: var(--primary);
}
.all-comment {
  background-color: var(--white);
  position: relative;
  padding: 1.5rem;
  width: 60vw;
  min-width: 40vw;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  color: var(--black);
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.comment-container {
  background-color: var(--white);
  position: relative;
  width: 100vw;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 1rem;
  color: var(--black);
  padding-right: 4rem;
}
.comment-content {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-content .date{
  color: var(--grey);
  font-size: 0.75rem;
}
.comment-container img {
  border-radius: 5rem;
}

.modal{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  padding: 1rem;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal.success{
  visibility: visible;
}

.modal.failed{
  visibility: visible;
}

.modal .content{
  background-color: var(--white);
  width: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
}

.modal .content .text{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.modal .content .text .title{
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.75rem;
}

.modal .content .text .subtitle{
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.5rem;
}

.close{
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 8px;
  border: none;
}

.close:hover{
  opacity: 70%;
  cursor: pointer;
  background-color: var(--onpress);
}


@media (max-width: 768px) { 
  .post-container{
    width: 100%;
  }
  .comment-input{
    width: 100%;
  }

  .all-comment{
    width: 100%;
  }
  .modal .content{
    width: 100%;
  }
}